@font-face {
    font-family: Helvetica;
    src:local("./font/Helvetica_33244fbeea10f093ae87de7a994c3697.ttf");
}

body{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    width: 100%;
    color: seashell;
    background-color: black;
    margin: 0px;
}

header{
    background: black;
    height: 69px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid seashell;
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 1;
}
header img{
    height: 50px;
    margin: 10px;

}
ul{
    color: seashell;
    list-style-type: none;
    display: flex;
    align-items: flex-end;
    margin: 10px;
}

header li{
    margin: 10px;
    text-decoration: underline;
}
.main-container{
    position: relative;
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
    width: 80%;
    height: 700px;
    margin: 0px auto;
    justify-content: center;
    align-items: center;
    display: flex;
    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;
  
    /* Background image doesn't tile */
    background-repeat: no-repeat;
  
    /* Background image is fixed in the viewport so that it doesn't move when 
        the content's height is greater than the image's height */
    background-attachment: fixed;
  
    /* This is what makes the background image rescale based
        on the container's size */
    background-size: cover;
    padding-top: 70px;
}
.main-container section{
    background-color: black;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.sec-one h2{
    margin: 10px;
}
.sec-one h4{
    margin: 10px;
}
.tea-of-the-month{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 10px auto;
    justify-content: center;
    align-items: center;
}
.tea-of-the-month section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    flex-direction: column;
}
.tea-of-the-month ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.tea-of-the-month li{
    text-align: center;
    margin: 5px;
}
.tea-of-the-month img{
    height: 200px;
    width: 300px;
}
.tea-of-the-month h2{
    margin: 10px;
}
.tea-of-the-month h4{
    margin: 10px;
}
.locations{
    position: relative;
    height: 500px;
    background: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;
  
    /* Background image doesn't tile */
    background-repeat: no-repeat;
  
    /* Background image is fixed in the viewport so that it doesn't move when 
        the content's height is greater than the image's height */
    background-attachment: fixed;
  
    /* This is what makes the background image rescale based
        on the container's size */
    background-size: cover;
}
.locations .main-card{
    display: flex;
    justify-content: center;
}
.locations .card{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.locations ul{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    background: black;
    flex-direction: column;
    padding: 0px;
}
.locations li{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 5px;
}
footer{
    position: relative;
}
.footer1{
    position: relative;
    text-align: center;
    margin: 10px;
}
.footer2{
    text-align: left;
    margin: 10px;
}